{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
    <div class="container">
        <div class="left-panel">
            <div class="header">
                <img class="logo" src="../static/css/Logo.svg">
            </div>
            <div class="login-section">
                <div class="profile-icon">
                    <i class="fas fa-user-circle"></i> </div>
                <h2>Zaloguj się</h2>
                <p>Podaj swój login oraz hasło, aby rozpocząć</p>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" id="login" name="login">
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" id="password" name="password">
                </div>
                <button class="login-button">Rozpocznij</button>
            </div>
            <div class="footer">
                <p>Kacpry Inc.</p>
            </div>
        </div>
        <div class="right-panel">
            </div>
    </div>
</body>
</html>
{% endblock %}
